*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    line-height: 1.6;
    background-color: rgb(240, 240, 240);
}
.section2-three-column{
    width: 90%;
    margin: 10px auto;
}